@model Category
<div class="modal fade" id="addCategory">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="addCategoryLabel">Detail Category</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label asp-for="Name" class="control-label">Name: @Model.Name</label>
					</div><br />
					<div class="form-group">
						<label asp-for="Description" class="control-label">Description: @Model.Description</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>